@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}
:root{
    --prime: #00ff34;
}
body{
    background-color: #131b2b;
}
.navbar{
    width: 100%;
    display: flex;
    position: fixed;
    padding: 30px 120px;
    background-color: transparent;
    justify-content: space-between;
    z-index: 1111;
    transition: 0.5s ease;
}
.navbar.sticky{
    padding: 6px 60px;
    background: #0c1518;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.navbar.sticky .logo{
    font-size: 2em;
    color: var(--prime);
}
.navbar.sticky .logo B{
    color: #fff;
}
.logo{
    font-size: 2-8rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.logo b{
    color: var(--prime);
}
ol{
    display: flex;
    margin: auto 0;
}
ol li{
    list-style: none;
    margin-right: 20px;
}
ol li a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
}
ol li:hover a{
    color: var(--prime);
}
.view{
    width: 100%;
    min-height: 80vh;
    position: relative;
}
.home{
    display: flex;
    min-height: 120vh;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0,100% 0,100% 100%,80% 95%,0 100%);
}
.banner{
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(./image/banner1.jpg);
    background-size: cover;
    background-position: center;
}
.highlight{
    width: 70%;
    position: relative;
    display: inline-block;
    z-index: 11;
}
.highlight h3{
    display: inline;
    font-size: 2vw;
    padding: 5px 20px;
    font-weight: lighter;
    text-transform: capitalize;
    border-left: 6px solid var(--prime);
}
.highlight h1{
    font-size: 8vw;
    text-align: center;
    font-weight: normal;
}
.highlight b{
    color: var(--prime);
    font-weight: 800;
    font-family: sans-serif;
}
.highlight .tagline{
    color: #d7d7d7;
    font-size: 1.2vw;
    text-align: center;
    font-weight: normal;
}
.highlight .join{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    padding: 5px 20px;
    font-size: 1.5vw;
    margin-top: 1.2rem;
    color: var(--prime);
    border: 2px solid var(--prime);
    border-radius: 50px;
    background: transparent;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.highlight .join:hover{
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.5px;
    background: var(--prime);
}
.main{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.main h2{
    font-size: 2.5vw;
    position: relative;
    text-align: center;
    padding-top: 100px;
    display: inline-block;
}
span{
    color: var(--prime);
}
.main h2:before{
    position: absolute;
    content: '';
    background: var(--prime);
    height: 3px;
    width: 30px;
    right: -15px;
    bottom: 0;
    border-radius: 50px;
}
.main h6{
    margin-top: 10px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: lighter;
}
.content{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 30px;
    justify-content: center;
}
.about .content .cols{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 70px;
}
.about .content .cols p b{
    font-family: 20px;
    margin-right: 2px;
}
.about .content .cols a{
    position: relative;
    top: 20px;
    color: #fff;
    background: var(--prime);
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}
.about .content .cols a:hover{
    color: #000;
    background: #fff;
}
.about .content .cols .box{
    position: relative;
    height: 550px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.about .content .cols .box img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .content{
    flex-wrap: wrap;
}
.gallery .content .frame{
    position: relative;
    width: 350px;
    padding: 20px;
    margin: 10px;
    background: #222;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.gallery .content .frame .box{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.gallery .content .frame .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
    transition: 0.2s ease-in;
}
.gallery .content .frame .box:hover img{
    filter: brightness(100%);
    transform: scale(1.08);
}
.gallery .content .frame .title{
    color: var(--prime);
    padding: 5px 0;
}
.gallery .content .frame p{
    font-size: 0.8em;
}
.contact .content{
    min-height: 100vh;
}
.contact .content form{
    margin: auto 0;
    width: 400px;
    height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    z-index: 1;
}
.contact .content form input{
    color: #222;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 18px;
    border: 1px solid #878787;
    border-radius: 4px;
    margin: 15px 0;
    background: transparent;
}
.contact .content form textarea{
    width: 100%;
    padding: 10px;
    color: #222;
    font-size: 18px;
    border: 1px solid #878787;
    border-radius: 4px;
    margin: 15px 0;
    background: transparent;
}
.contact .content form input:focus,
.contact .content form textarea:focus{
    border: 2px solid var(--prime);
    transition: 0.1s ease;
}
.contact .content form .btn{
    letter-spacing: 1px;
    width: 100px;
    display: inline-block;
    color: var(--prime);
    border-color: var(--prime);
    cursor: pointer;
    transition: 0.2s ease;
}
.contact .content form .btn:hover{
    background: var(--prime);
    color: #fff;
}
.contact .content .bgimg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(./image/bg.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
}
.copyright{
    text-transform: capitalize;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background: #222;
    text-align: center;
    font-size: 18px;
}
.copyright a{
    color: var(--prime);
    text-decoration: none;
    margin: 0 2px;
    font-weight: lighter;
}
@media screen and (max-width: 900px){
    .navbar{
        padding: 0 60px;
    }
    .navbar ol{
        display: none;
    }
    .navbar ol.active{
        top: 60px;
        left: 0;
        width: 100%;
        display: flex;
        position: fixed;
        background: #222;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 60px);
    }
    .navbar ol.active li{
        margin: 8px;
    }
    .navbar ol.active li a{
        font-size: 25px;
    }
    .navbar .toggle{
        height: 25px;
        width: 25px;
        margin: auto 0;
        cursor: pointer;
        background: url(./image/menu.png);
        background-size: 25px;
        background-position: center;
        filter: invert(1);
        background-repeat: no-repeat;
    }
    .navbar .toggle.active{
        background: url(./image/cls.png);
        background-size: 20px;
        background-position: center;
        cursor: pointer;
        filter: invert(1);
    }
    .highlight h3{
        font-size: 3vw;
        padding: 5px 10px;
        border-left: 3px solid var(--prime);
    }
    .highlight h1{
        font-size: 16px;
    }
    .highlight .join{
        font-size: 1.8vw;
        border: 1px solid var(--prime);
    }
    .main h2{
        font-size: 1.5rem;
    }
    .main h6{
        font-size: 10px;
    }
    .about .content{
        flex-direction: column;
    }
    .gallery .content .frame{
        width: 260px;
        padding: 18px;
    }
}